@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css);

:root {
  --pico-form-element-spacing-vertical: 5px;
  --pico-form-element-spacing-horizontal: 15px;
  --pico-spacing: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

input,
button,
select,
textarea {
  font: inherit;
}

.container {
  padding: 32px 16px;
  max-width: 500px;
  margin: 0 auto;
}

form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.theme-container {
  margin-bottom: 32px;
}

label span {
  display: inline-block;
  margin-right: 8px;
}

label span {
  display: block;
  margin-bottom: 2px;
}

form input[type="text"],
form select {
  width: 100%;
}

.sound-container label {
  display: flex;
  align-items: center;
}

.sound-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

select {
  padding: 3px 0;
}

.auto-save {
  margin-top: 16px;
}

.sound-indicator {
  margin-right: 0;
  font-size: 1.3rem;
}

button {
  text-transform: uppercase;
  background: rgb(168, 0, 168);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}

.lives {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

div > h2 {
  color: rgb(168, 0, 168);
}

.autosave {
  color: green;
  margin-top: 5px;
  font-size: smaller;
}
