@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css);

:root {
  --pico-form-element-spacing-vertical: 5px;
  --pico-form-element-spacing-horizontal: 15px;
  --pico-spacing: 0px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, auto));
  margin: 16px 0;
  gap: 16px;
}

.products-container h2 {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  padding: 16px;
  max-height: 226px;
  object-fit: cover;
  flex: 1;
}
