@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css);

:root {
  --pico-form-element-spacing-vertical: 5px;
  --pico-form-element-spacing-horizontal: 15px;
}

body {
  background-color: ghostwhite;
  font-family: "Farsan", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-family: "Farsan", cursive;
}

html {
  height: 100%;
}

body,
#root {
  min-height: 100%;
}

form {
  border: 1px solid var(--pico-form-element-border-color);
  padding: 16px;
  max-width: 750px;
  border-radius: 8px;
  background-color: white;
  margin: 0 auto;
}

form p, textarea, button {
  font-size: 1.3rem;
}

textarea {
  min-height: 80px;
}

.prevNote {
  margin-bottom: 0;
  padding: 8px;
  border: 2px dashed var(--pico-form-element-border-color);
  background-color: ghostwhite;
  border-radius: 6px;
}

span {
  color: deeppink;
}