@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css);

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

legend {
  font-size: 1.5rem;
  margin-right: 16px;
}

form {
  flex-grow: 1;
  max-width: 500px;
}

.user-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: sticky;
  align-self: center;
}

.user-card img {
  max-width: 130px;
}

.user-card h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
}

button {
  cursor: pointer;
  font: inherit;
  align-self: flex-end;
}

.button-container {
  display: flex;
  gap: 16px;
}

.age-container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 1rem;
}

.age-container input {
  margin: 0;
}

@media screen and (min-width: 550px) {
  .container {
    flex-direction: row;
  }

  .user-card {
    align-items: center;
  }
}
